In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
data = pd.read_csv("/kaggle/input/titanic/train.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
data_test = pd.read_csv("/kaggle/input/titanic/test.csv")
data_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [4]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
from sklearn import preprocessing
le  = preprocessing.LabelEncoder()

In [6]:
def lb(col):
    data[col] = le.fit_transform(data[col])
lb('Sex')
lb('Embarked')
lb('Cabin')
lb('Name')

In [7]:
def lb(col):
    data_test[col] = le.fit_transform(data_test[col])
lb('Sex')
lb('Embarked')
lb('Cabin')
lb('Name')

In [8]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,A/5 21171,7.2500,147,2
1,2,1,1,190,0,38.0,1,0,PC 17599,71.2833,81,0
2,3,1,3,353,0,26.0,0,0,STON/O2. 3101282,7.9250,147,2
3,4,1,1,272,0,35.0,1,0,113803,53.1000,55,2
4,5,0,3,15,1,35.0,0,0,373450,8.0500,147,2
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,548,1,27.0,0,0,211536,13.0000,147,2
887,888,1,1,303,0,19.0,0,0,112053,30.0000,30,2
888,889,0,3,413,0,NaN,1,2,W./C. 6607,23.4500,147,2
889,890,1,1,81,1,26.0,0,0,111369,30.0000,60,0
890,891,0,3,220,1,32.0,0,0,370376,7.7500,147,1

In [9]:
data = data.drop(['Name','Ticket'], axis=1)

In [10]:
data_test_1=data_test.drop(['Name','Ticket'],axis=1)

In [11]:
data_test_1.fillna(data_test_1.mean(numeric_only=True).round(1), inplace=True)

In [12]:
data_test_1 = preprocessing.normalize(data_test_1,axis=1)

In [13]:
data.fillna(data.mean(numeric_only=True).round(1), inplace=True)
data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,1,22.0,1,0,7.2500,147,2
1,2,1,1,0,38.0,1,0,71.2833,81,0
2,3,1,3,0,26.0,0,0,7.9250,147,2
3,4,1,1,0,35.0,1,0,53.1000,55,2
4,5,0,3,1,35.0,0,0,8.0500,147,2
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,27.0,0,0,13.0000,147,2
887,888,1,1,0,19.0,0,0,30.0000,30,2
888,889,0,3,0,29.7,1,2,23.4500,147,2
889,890,1,1,1,26.0,0,0,30.0000,60,0
890,891,0,3,1,32.0,0,0,7.7500,147,1

In [14]:
x = data.drop(['Survived'],axis=1)
y = data['Survived']

In [15]:
x

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0              1       3    1  22.0      1      0   7.2500    147         2
1              2       1    0  38.0      1      0  71.2833     81         0
2              3       3    0  26.0      0      0   7.9250    147         2
3              4       1    0  35.0      1      0  53.1000     55         2
4              5       3    1  35.0      0      0   8.0500    147         2
..           ...     ...  ...   ...    ...    ...      ...    ...       ...
886          887       2    1  27.0      0      0  13.0000    147         2
887          888       1    0  19.0      0      0  30.0000     30         2
888          889       3    0  29.7      1      2  23.4500    147         2
889          890       1    1  26.0      0      0  30.0000     60         0
890          891       3    1  32.0      0      0   7.7500    147         1

[891 rows x 9 columns]

In [16]:
x = preprocessing.normalize(x,axis=1)

In [17]:
x

array([[0.00671738, 0.02015214, 0.00671738, ..., 0.04870099, 0.98745462,
        0.01343476],
       [0.01747921, 0.00873961, 0.        , ..., 0.62298799, 0.70790813,
        0.        ],
       [0.02005812, 0.02005812, 0.        , ..., 0.05298686, 0.98284771,
        0.01337208],
       ...,
       [0.98572329, 0.0033264 , 0.        , ..., 0.02600136, 0.16299362,
        0.0022176 ],
       [0.99674741, 0.00111994, 0.00111994, ..., 0.03359823, 0.06719645,
        0.        ],
       [0.98600017, 0.00331987, 0.00110662, ..., 0.00857632, 0.16267343,
        0.00110662]])

In [18]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier

In [20]:
def logistic_model():
    lr = LogisticRegression()
    return lr

def svm_model1():
    svm = SVC(kernel='poly',C=1)
    return svm
def svm_model2():
    svm = SVC(kernel='linear', C=10)
    return svm
def svm_model3():
    svm = SVC(kernel='linear',C=1)
    return svm
def svm_model4():
    svm = SVC(kernel='poly', C=100)
    return svm
def svm_model5():
    svm = SVC(kernel='linear', C=100)
    return svm
def decisiontree_model1():
    dt = DecisionTreeClassifier()
    return dt
def decisiontree_model2():
    dt = DecisionTreeClassifier(max_depth=10)
    return dt
def decisiontree_model3():
    dt = DecisionTreeClassifier(max_depth=10, max_features=5)
    return dt
def randomforest_model1():
    rf = RandomForestClassifier(n_estimators=42, max_depth=10)
    return rf
def randomforest_model2():
    rf = RandomForestClassifier(n_estimators=100, max_depth=5)
    return rf
def randomforest_model3():
    rf = RandomForestClassifier(n_estimators=10, max_depth=50)
    return rf
def xgb_model1():
    model = XGBClassifier()
    return model
def xgb_model2():
    model = XGBClassifier(max_depth = 20, gamma = 50)
    return model

In [21]:
from sklearn.metrics import precision_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score 

def measure(y_test,y_pred):
    accuracy = accuracy_score(y_test, y_pred)
    print("Accuracy :", round(accuracy*100,2))
    precision = precision_score(y_test,y_pred, average="weighted")
    print("Precision :", round(precision*100,2))

In [22]:
# Logistic regression

lr = logistic_model()
lr.fit(x, y)
y_predict = lr.predict(x)
measure(y,y_predict)

Accuracy : 64.76
Precision : 66.12

In [23]:
model1 = svm_model1()
model1.fit(x,y)
y_pred2 = model1.predict(x)
measure(y,y_pred2)

Accuracy : 67.0
Precision : 69.48

In [24]:
model4 = svm_model4()
model4.fit(x, y)
y_pred2_4 = model4.predict(x)
measure(y,y_pred2_4)

Accuracy : 70.48
Precision : 72.75

In [25]:
dt = decisiontree_model1()
dt.fit(x,y)
y_pred_dt = dt.predict(data_test_1)
# measure(y,y_pred_dt)

In [26]:
dt2 = decisiontree_model2()
dt2.fit(x,y)
y_pred_dt2 = dt2.predict(x)
measure(y,y_pred_dt2)

Accuracy : 92.7
Precision : 92.7

In [27]:
rf = randomforest_model1()
rf.fit(x, y)
y_pred_rf = rf.predict(data_test_1)
# measure(y,y_pred_rf)

In [28]:
xgb = xgb_model1()
xgb.fit(x,y)
y_pred_xgb = xgb.predict(data_test_1)
# measure(y,y_pred_xgb)

In [29]:
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
def get_confusion_matrix(y_true, y_pred, name):
    conf_mat = confusion_matrix(y_true, y_pred)
    print(conf_mat)
    plt.matshow(conf_mat, cmap=plt.cm.Blues)
    plt.colorbar()
    plt.xlabel('Predicted')
    plt.ylabel('True')
    plt.title('Confusion Matrix')
    # plt.savefig(name+'.png', dpi=300, bbox_inches='tight')
    plt.show()

In [30]:
# get_confusion_matrix(y,y_pred_rf, rf)

In [31]:
output = pd.DataFrame({'PassengerId': data_test.PassengerId, 'Survived': y_pred_rf})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!